<div class='container'>
  <h1>Dashboard Home</h1>

  <%= line_chart company_charts_booking_chart_path %>

  <%= pie_chart company_charts_product_chart_path %>

  <%#= pie_chart @booking.group(:date).count %>
 
</div>
