<h1>Dashboard Home</h1>


<div class="container">
  <%= image_tag("g1.png", class: "graphic") %>

  <%= image_tag("g2.png", class: "graphic") %>

  <%= image_tag("g3.png", class: "graphic") %>

  <%= image_tag("g4.png", class: "graphic") %>
</div>
