<h1>Dashboard Home</h1>


<div class="container">
  <%= image_tag("g1", class: "graphic") %>

  <%= image_tag("g2", class: "graphic") %>

  <%= image_tag("g3", class: "graphic") %>

  <%= image_tag("g4", class: "graphic") %>
</div>
