.btn-shw-company {
  margin-top: 70px;
}

.flex-container-products {
  display: flex;
  justify-content: space-between;
  width: 35%;
  
}

.product-name {
  align-content: flex-start;

}

.btn-spacing {
  padding-left: 40px;
}