// Specific CSS for your home-page

h2 {
  font-family: 'Satisfy', cursive;
  color: #004461ff;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.owner {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: white;
}

.gridblock {
  margin-bottom: 80px;
}

.conteudo {
  position: absolute;

}
