// Specific CSS for your home-page
html {
    scroll-behavior: smooth !important;
}

h2 {
  font-family: 'Roboto';
  color: #004461ff;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.owner {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: white;
}

.gridblock {
  margin-bottom: 80px;
}

.conteudo {
  position: absolute;

}

.carousel-inner img{
  height: 100vh;
  object-fit: cover;
  object-position: center 0;

}

.carousel-hero {
  position: relative;
  top: 0;
  h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    color: white;
    font-family: Roboto;
    font-size: 60px;
  }
}

.hero-title-h4 {
  position: absolute;
    width: 100%;
    text-align: center;
    font-family: Roboto;
    color: white;
    top: 54%;
    font-weight: 200;
}

  .title-first{
    font-family: Roboto;
    font-weight:  500;
  }
  .title-second {
    font-family: Roboto;
    font-weight: 100;
  }


.title-third {
  background-image: linear-gradient(45deg, #3cc5d5ff, #004461ff);
  padding: 13px;
}

.bem-vindo{
  margin: auto;
  justify-content: space-around;
  text-align-last: center;
  i {
    font-size:35px;
  }
  font-family: Roboto;
}

.arrow{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #f5f5f5ff;
    border-right: 5px solid #f5f5f5ff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 0.7s infinite;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.card-line {
 justify-content: space-between;
}


