.card-product {
  overflow: hidden;
  height: 200px;
  width: 100%;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
    a {
      color: #525252ff;
    }
    .rating-index {
      font-size: 10px;
    }
}

.card-product img {
  height: 100%;
  width: 250px;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-product h2 {
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  text-align: left;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 100%;
  text-align: left;
}

li {
  list-style: none;
  }

  .card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 35px;
    text-align: center;
    font-family: Roboto;
  }
}

.card-bemvindo {
  max-width: 260px;
  border: 1px solid rgba(0, 68, 97, 0.4);
  padding: 20px;
  color: rgba(82, 82, 82, 0.8);
}


.card-line {
  margin: auto;
}

  .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  height: 300px;
  color: white;
  object-fit: cover;
}

.bem-vindo .btn-primary p {
  margin-bottom: 0;
  padding-bottom: 8px;
  padding-top: 8px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

a:hover {
  text-decoration: none;
}

// for the product index

.card-product-index {
  overflow: hidden;
  height: 120px;
  width: 800px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.fa-window-close {
 font-size:120px;
}

.fa-check-circle {
font-size:120px;
};

.card-product-index img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-index .card-product-infos-index {
  padding: 16px;
}

// Dashboard Cards

.trip-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.trip-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.trip-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.trip-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.trip-card .trip-card-infos {
  padding: 16px;
}
