.flexbox {
  display: flex;
  margin-left: 30px;
  justify-content: flex-end;
  margin: 30px;
}

.export-btn {
  margin-left: 10px;
}

.table-striped {
  margin-top: 50px;
}

.calendar {
  box-sizing: border-box;
  display: inline-block;
  
}