#map {
  height: 100vh;
  width: 450px;
  top: 0;
  position: sticky !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
