 // Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import "jquery-bar-rating/dist/themes/css-stars";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/_product_show";
@import "components/footer";
@import "components/navbar";
@import "components/cards";
@import "components/map";
@import "components/images";
@import "components/headers";
@import "components/booking_form";
@import "components/top_products";
@import "components/indexowner";
@import "components/notification-badge";
@import "components/notification";
@import "components/pagination";
@import "components/grid";
@import "pages/dashboard";
@import "pages/company_show";

// Geocode and Mapbox
@import "mapbox-gl/dist/mapbox-gl";


.graphic {
  width: 700px;
  margin-bottom: 50px;
}

.checkout-title {
  top: 40px;
  position: relative;
}

.company {
    img{
     width: 120px;
     height: 80px;
     object-fit: cover;

    }
}

#notifications-link {
  margin-left: 24px;
}

.navbar-nav .mr-auto {
  a {
    color: white;
  }
}


.btn-primary {
  background-image: linear-gradient(45deg, #0091b7ff, #004461ff);
  border: none;
  border-radius: 7px;
}

.btn-primary:hover {
  background-image: linear-gradient(45deg, #3cc5d5ff, #004461ff);
  border: none;
}
