<p>
<%= @shopping_cart.user.first_name %>, your purchase is confirmed! 
</p>
<p>Your trip:</p>
<ul>  
  <% @shopping_cart.bookings.each do |booking| %>  
  <p> <%= booking.product.name %> </p>
  <p> <%= booking.product.price %> </p>
  <% end %>
  <p>Thank you for visiting Arraial do Cabo!</p>
  <p>Enjoy your trip!  &#128526; </p>
</ul>