<h1>Check out our amazing tours!</h1>
<ul>
<% @products.each do |product| %>
  <li>><%=link_to "#{product.name}
   Type of tour #{product.activity}
   only for: #{product.price}   
   ", product_path(product)%></li>
</ul>
<% end %>
